@model TekeriumCommerce.Module.Search.Areas.Search.ViewModels.SearchResult

@await Component.InvokeAsync("LittleSearchForm")


<section class="finder">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-lg-4 col-sm-12 px-0">
                <div class="params search col col-lg-11 col-sm-12">
                    <form class="mt-8">
                        <div class="col-lg-12">
                            <div class="row d-flex justify-content-sm-start">

                                <div class="col-lg-12">
                                    <label class="sr-only" for="inlineFormInputGroup">
                                        Width
                                    </label>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="searchsizing input-group-text">
                                                WIDTH
                                            </div>
                                        </div>
                                        <select class="form-control">
                                            <option>...</option>
                                            <option>...</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <label class="sr-only" for="inlineFormInputGroup">
                                        Profile
                                    </label>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="searchsizing input-group-text">
                                                PROFILE
                                            </div>
                                        </div>
                                        <select class="form-control">
                                            <option>...</option>
                                            <option>...</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <label class="sr-only" for="inlineFormInputGroup">
                                        Rim size
                                    </label>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="searchsizing input-group-text">
                                                RIM
                                            </div>
                                        </div>
                                        <select class="form-control">
                                            <option>...</option>
                                            <option>...</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <label class="sr-only" for="inlineFormInputGroup">
                                        Season
                                    </label>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="searchsizing input-group-text">
                                                SEASON
                                            </div>
                                        </div>
                                        <select class="form-control">
                                            <option>Summer</option>
                                            <option>Winter</option>
                                            <option>Universal</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <br>
                <div class="brand col col-lg-11 col-sm-12">

                </div>
            </div>
        </div>
    </div>
</section>

@*<div>
        <div class="container">
            <div id="">
                <h2>Search Result for @Model.CurrentSearchOption.Width</h2>
                <small>@Model.TotalProduct</small>
            </div>
        </div>
        <div class="row product-list">
            @foreach (var product in Model.Products)
            {
                <div class="col-xs-6 col-md-4">
                    <partial name="/Areas/Catalog/Views/Shared/_ProductThumbnail.cshtml" model="product" />
                </div>
            }
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <cs-pager cs-paging-pagesize="@Model.CurrentSearchOption.PageSize"
                          cs-paging-pagenumber="@Model.CurrentSearchOption.Page"
                          cs-paging-totalitems="@Model.TotalProduct"
                          cs-pagenumber-param="page"
                          asp-basehref="~/search"
                          asp-all-route-data="@Model.CurrentSearchOption.ToDictionary()"></cs-pager>
            </div>
        </div>
    </div>*@