@model TekeriumCommerce.Module.Search.Areas.Search.ViewModels.SearchResult

<div>
    <div class="container">
        <div id="">
            <h2>Search Result for @Model.CurrentSearchOption.Width</h2>
            <small>@Model.TotalProduct</small>
        </div>
    </div>
    <div class="row product-list">
        @foreach (var product in Model.Products)
        {
            <div class="col-xs-6 col-md-4">
                <partial name="/Areas/Catalog/Views/Shared/_ProductThumbnail.cshtml" model="product" />
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <cs-pager cs-paging-pagesize="@Model.CurrentSearchOption.PageSize"
                      cs-paging-pagenumber="@Model.CurrentSearchOption.Page"
                      cs-paging-totalitems="@Model.TotalProduct"
                      cs-pagenumber-param="page"
                      asp-basehref="~/search"
                      asp-all-route-data="@Model.CurrentSearchOption.ToDictionary()"></cs-pager>
        </div>
    </div>
</div>