@using TekeriumCommerce.Module.Core.Models
@model TekeriumCommerce.Module.Catalog.Areas.Catalog.ViewModels.ProductDetail

@inject SignInManager<User> SignInManager

@{
    ViewBag.Title = Model.MetaTitle ?? Model.Name;
}

@*todo: first create additionalMeta section and uncomment this*@
@*@section additionalMeta
    {
        <meta name="title" content="@ViewBag.Title">
        <meta name="keywords" content="@Model.MetaKeywords">
        <meta name="description" content="@Model.MetaDescription">
    }*@

@section head
{
    <link teker-append-version="true" rel="stylesheet" href="~/lib/smoothproducts/css/smoothproducts.css" />
}

<section class="finder">
    <div class="container">
        <div class="row">
            <div class="col brand">
                @*todo: breadcrumb*@

                <section>
                    <div class="row wrap">
                        <div class="col-lg-4 col-sm-12 px-0">
                            <div class="sp-loading">
                                <img src="~/assets/images/sp-loading.gif" alt="loading..." /><br>
                                LOADING IMAGES
                            </div>
                            <div class="sp-wrap">
                                @foreach (var image in Model.Images)
                                {
                                    <a href="@image.Url">
                                        <img src="@image.ThumbnailUrl" alt="@Model.Name" />
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-lg-8 col-sm-12 brand">
                            <div class="border-bottom brand-name">
                                <h3>@Model.Brand.Name @Model.Name</h3>
                                <h3>@Model.Width/@Model.Profile @Model.Rim</h3>
                            </div>

                            <div class="shortdesc row">
                                <div class="col">
                                    <h4>Short description</h4>
                                    <ul>
                                        <li>
                                            <label>@Localizer["Width"]</label>
                                            <p>@Model.Width</p>
                                        </li>
                                        <li>
                                            <label>@Localizer["Profile"]</label>
                                            <p>@Model.Profile</p>
                                        </li>
                                        <li>
                                            <label>@Localizer["Rim"]</label>
                                            <p>@Model.Rim</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col money">
                                    <h3>@Model.CalculatedProductPrice.Price.ToString("C")</h3>
                                    @if (Model.CalculatedProductPrice.PercentOfSaving > 0)
                                    {
                                        <p class="product-price-regular">@Model.CalculatedProductPrice.OldPrice.Value.ToString("C")</p>
                                        <p class="save">You save (@(Model.CalculatedProductPrice.PercentOfSaving)%)</p>
                                    }
                                </div>
                            </div>
                            @*todo: ADD Stock Quantity*@
                            <div class="row align-items-end mt-4">
                                <div class="col shop">
                                    <form class="inline">
                                        <input type="hidden" name="productId" value="@Model.Id"/>
                                        <div class="cart-input d-flex align-items-center">
                                            <div class="value-button" id="decrease" value="-"><i class="fas fa-minus"></i></div>
                                            <input type="number" id="number" readonly="readonly" name="qty" value="1">
                                            <div class="value-button" id="increase" value="+"><i class="fas fa-plus"></i></div>
                                            <button type="button" class="btn btn-lg btn-add-cart">@Localizer["Add to cart"]</button>
                                        </div>
                                    </form>
                                    @*todo: later add compare*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4>Product details</h4>
                    <div class="details row border">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <ul>
                                <li>
                                    <label>Brand</label>
                                    <p>@Model.Brand.Name</p>
                                </li>
                                <li>
                                    <label>Product Name</label>
                                    <p>@Model.Name</p>
                                </li>
                                <li>
                                    <label>Category</label>
                                    <p>@Model.Category.Name</p>
                                </li>
                                <li>
                                    <label>Season</label>
                                    <p>@Model.ProductSeason.Name</p>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <ul>
                                <li>
                                    <label>@Localizer["Manufacturer country"]</label>
                                    <p>@Model.Country.Name</p>
                                </li>
                                <li>
                                    @*todo: add this to product table*@
                                    <label>@Localizer["Speed Index"]</label>
                                    <p>@Model.Name</p>
                                </li>
                                <li>
                                    @*todo: add this to product table*@
                                    <label>@Localizer["Weight Index"]</label>
                                    <p>@Model.Category.Name</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

@*<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/">Home</a></li>
        @if (Model.Category.Name.Length > 0)
        {
            <li class="">@Model.Category.Name</li>

            // remove this laters
            @await Component.InvokeAsync("CategoryBreadcrumb", new { categoryIds = Model.Categories.Select(x => x.Id) })
        }

        @* todo: add here a brand name also *@

        @*<li class="">@Model.Brand.Name</li>

        <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
    </ol>
</nav>*@

@*<div class="product-detail">
    <div class="row">
        <div class="col-md-6">
            <div class="sp-wrap">
                @foreach (var image in Model.Images)
                {
                    <a href="@image.Url">
                        <img src="@image.ThumbnailUrl" alt="" />
                    </a>
                }
            </div>
        </div>

        <div class="col-md-6">
            <div class="product-name">
                <h1 class="">@Model.Name</h1>
            </div>
            
            <!-- todo: revies -->

            <div class="product-short-desc">@Html.Raw(Model.ShortDescription)</div>

            <div class="product-price">
                <h3>@Model.CalculatedProductPrice.Price.ToString("C")</h3>
                @if (Model.CalculatedProductPrice.PercentOfSaving > 0)
                {
                   <p class="product-price-regular">@Model.CalculatedProductPrice.OldPrice.Value.ToString("C")</p>
                   <p class="product-price-saving">You save (@(Model.CalculatedProductPrice.PercentOfSaving)%)</p>
                }
            </div>

            <!-- todo: stock tracking and stock quantity -->

            <div class="add-to-cart">
                <form class="inline">
                    <input type="hidden" name="productId" value="@Model.Id">
                    <div class="product-quantity">
                        <button type="button" class="quantity-button" name="subtract" value="-">-</button>
                        <input type="text" class="quantity-field" readonly="readonly" name="qty" value="1">
                        <button type="button" class="quantity-button" name="add" value="+">+</button>
                    </div>
                    <!-- todo: later change disabled option as tracking by stock quantity and checking is it item has allowed to order or not -->
                    <button type="button" class="btn btn-lg btn-add-cart">Add to cart</button>
                    <div>
                        <ul class="list-inline add-to-lists">
                            <li class="wishlist-in">
                                <!-- todo: wishlist -->
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>*@

@section scripts
{
    @*todo: add variationscriptspartial*@

    <script teker-append-version="true" src="~/lib/smoothproducts/js/smoothproducts.min.js"></script>
    <script teker-append-version="true" src="~/modules/catalog/product-detail.js"></script>
}