@model TekeriumCommerce.Module.Catalog.Areas.Catalog.ViewModels.ProductDetail
@{
    ViewBag.Title = Model.MetaTitle ?? Model.Name;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/">Home</a></li>
        @if (Model.Category.Name.Length > 0)
        {
            <li class="">@Model.Category.Name</li>
            
            // remove this laters
            @*@await Component.InvokeAsync("CategoryBreadcrumb", new { categoryIds = Model.Categories.Select(x => x.Id) })*@
        }

        @* todo: add here a brand name also *@
        
        <li class="">@Model.Brand.Name</li>

        <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
    </ol>
</nav>

<div class="product-detail">
    <div class="row">
        <div class="col-md-6">
            <div class="sp-wrap">
                @foreach (var image in Model.Images)
                {
                    <a href="@image.Url">
                        <img src="@image.ThumbnailUrl" alt="" />
                    </a>
                }
            </div>
        </div>

        <div class="col-md-6">
            <div class="product-name">
                <h1 class="">@Model.Name</h1>
            </div>
            
            <!-- todo: revies -->

            <div class="product-short-desc">@Html.Raw(Model.ShortDescription)</div>

            <div class="product-price">
                <h3>@Model.CalculatedProductPrice.Price.ToString("C")</h3>
                @if (Model.CalculatedProductPrice.PercentOfSaving > 0)
                {
                   <p class="product-price-regular">@Model.CalculatedProductPrice.OldPrice.Value.ToString("C")</p>
                   <p class="product-price-saving">You save (@(Model.CalculatedProductPrice.PercentOfSaving)%)</p>
                }
            </div>

            <!-- todo: stock tracking and stock quantity -->

            <div class="add-to-cart">
                <form class="inline">
                    <input type="hidden" name="productId" value="@Model.Id">
                    <div class="product-quantity">
                        <button type="button" class="quantity-button" name="subtract" value="-">-</button>
                        <input type="text" class="quantity-field" readonly="readonly" name="qty" value="1">
                        <button type="button" class="quantity-button" name="add" value="+">+</button>
                    </div>
                    <!-- todo: later change disabled option as tracking by stock quantity and checking is it item has allowed to order or not -->
                    <button type="button" class="btn btn-lg btn-add-cart">Add to cart</button>
                    <div>
                        <ul class="list-inline add-to-lists">
                            <li class="wishlist-in">
                                <!-- todo: wishlist -->
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <!-- <partial name="_ValidationScriptsPartial" /> -->
    <script teker-append-version="true" src="~/modules/catalog/product-detail.js"></script>
}